.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
}

.login-card {
  width: 380px;
  padding: 25px;
  text-align: center;
}

.full-width {
  width: 100%;
  margin-top: 15px;
}

button {
  margin-top: 20px;
}
