<div class="home-container">
  <h1>Bienvenido, {{ nombre }}</h1>
  <p class="subtitle">Selecciona una opción para comenzar:</p>

  <div class="cards-grid">

    <a routerLink="/articulos" class="card">
      <div class="icon">📦</div>
      <span>Artículos</span>
    </a>

    <a routerLink="/clientes" class="card">
      <div class="icon">🧑</div>
      <span>Clientes</span>
    </a>

    <a routerLink="/tiendas" class="card">
      <div class="icon">🏬</div>
      <span>Tiendas</span>
    </a>

    <a routerLink="/carrito" class="card">
      <div class="icon">🛒</div>
      <span>Carrito</span>
    </a>

  </div>
</div>

